@import "reset.css";
@import "public.css";
main {
  width: 7.5rem;
  height: 45.9rem;
  margin: 0 auto;
  background-color: #f1f1f1;
}
main section {
  background-color: #fff;
  margin-bottom: 0.17rem;
}
main .section01 {
  width: 7.5rem;
  height: 9.54rem;
  box-sizing: border-box;
}
main .section01 .pic1 {
  width: 7.5rem;
  height: 4.2rem;
}
main .section01 .pic2 {
  width: 7.5rem;
  height: 3.27rem;
}
main .section01 .tit {
  font-size: 0.3rem;
  line-height: 0.5rem;
  color: #333;
  padding: 0.22rem 0.4rem 0;
}
main .section01 .price {
  font-size: 0.24rem;
  line-height: 0.78rem;
  padding-bottom: 0.08rem;
  padding-left: 0.4rem;
  color: #e43a3d;
}
main .section01 .price span {
  font-size: 0.2rem;
  color: #999;
}
main .section02 {
  width: 7.5rem;
  height: 3.98rem;
  box-sizing: border-box;
  padding-left: 0.25rem;
}
main .section02 p {
  font-size: 0.24rem;
  color: #666;
  line-height: 0.98rem;
  border-bottom: 1px solid #eee;
}
main .section02 p img {
  width: 0.35rem;
  height: 0.21rem;
}
main .section02 .sale span {
  display: inline-block;
  width: 0.66rem;
  height: 0.37rem;
  border: 1px solid #b0281a;
  border-radius: 0.05rem;
  font-size: 0.2rem;
  color: #b0281a;
  line-height: 0.35rem;
  text-align: center;
  margin: 0 0.15rem;
}
main .section02 .sale img {
  margin-left: 3.02rem;
}
main .section02 .count span {
  position: relative;
  top: 0.2rem;
  display: inline-block;
  margin-left: 3.8rem;
  width: 2.12rem;
  height: 0.6rem;
  border: 1px solid #333;
  border-radius: 0.05rem;
}
main .section02 .count span a {
  position: absolute;
  display: inline-block;
  width: 0.64rem;
  height: 0.59rem;
  line-height: 0.59rem;
  font-size: 0.36rem;
  color: #666;
  text-align: center;
}
main .section02 .count span .a1 {
  top: 0;
  left: 0;
}
main .section02 .count span .a2 {
  top: 0;
  left: 1.43rem;
}
main .section02 .count span input {
  position: absolute;
  top: 0;
  left: 0.64rem;
  width: 0.79rem;
  height: 0.6rem;
  font-size: 0.2rem;
  text-align: center;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
}
main .section02 .weight p {
  border: none;
}
main .section02 .weight p img {
  margin-left: 5.72rem;
}
main .section02 .weight div {
  font-size: 0.24rem;
  color: #999;
  line-height: 0.6rem;
}
main .section02 .weight div a {
  color: #fff;
  line-height: 0.6rem;
  background-color: #ddd;
  padding: 0.1rem 0.4rem;
  margin-right: 0.15rem;
  border-radius: 0.05rem;
}
main .section02 .weight div a.first {
  margin-left: 0.7rem;
}
main .section02 .weight div a.active {
  background-color: #e43a3d;
}
main .section03 {
  width: 7.5rem;
  height: 25.8rem;
}
main .section03 h3 {
  width: 7.5rem;
  height: 1rem;
  line-height: 1rem;
  font-size: 0.3rem;
  color: #666;
  padding-left: 0.25rem;
  box-sizing: border-box;
}
main .section03 .pic3 {
  width: 7.5rem;
  height: 4.58rem;
}
main .section03 .pic4 {
  width: 7.5rem;
  height: 6.48rem;
}
main .section03 .pic5 {
  width: 7.5rem;
  height: 5.92rem;
}
main .section03 .pic6 {
  width: 7.5rem;
  height: 3.5rem;
}
main .section03 .pic7 {
  width: 7.5rem;
  height: 3.31rem;
}
main .section04 {
  width: 7.5rem;
  height: 5.63rem;
  margin-bottom: 0;
}
main .section04 .assess {
  width: 7.02rem;
  height: 5.63rem;
  margin: 0 auto;
}
main .section04 .assess h3 {
  font-size: 0.3rem;
  color: #666;
  line-height: 0.93rem;
  border-bottom: 1px solid #eee;
}
main .section04 .assess .num {
  font-size: 0.2rem;
  line-height: 0.68rem;
  color: #999;
}
main .section04 .assess .nice {
  font-size: 0.26rem;
  line-height: 0.58rem;
  color: #666;
  margin-bottom: 0.17rem;
}
main .section04 .assess .list li {
  float: left;
}
main .section04 .assess .list li img {
  width: 1.55rem;
  height: 1.55rem;
  margin: 0 0.05rem;
}
main .section04 .assess time {
  display: inline-block;
  width: 7.02rem;
  height: 0.8rem;
  font-size: 0.2rem;
  color: #999;
  line-height: 0.8rem;
  border-bottom: 1px solid #eee;
}
main .section04 .assess .more {
  font-size: 0.2rem;
  color: #999;
  line-height: 0.8rem;
}
main .section04 .assess .more span {
  margin-left: 4.1rem;
}
main .section04 .assess .more i {
  position: relative;
  display: inline-block;
  width: 0;
  height: 0;
  border: 0.06rem solid #666;
  border-color: transparent transparent transparent #666;
  margin-left: 0.1rem;
}
main .section04 .assess .more i::after {
  position: absolute;
  top: -0.06rem;
  left: -0.08rem;
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border: 0.06rem solid #fff;
  border-color: transparent transparent transparent #fff;
}
main .section05 .left {
  float: left;
  width: 1.72rem;
  height: 1.13rem;
  text-align: center;
  border-top: 1px solid #eee;
}
main .section05 .left img {
  width: 0.57rem;
  height: 0.51rem;
  margin-top: 0.18rem;
}
main .section05 .left p {
  margin-top: 0.12rem;
  font-size: 0.18rem;
  color: #666;
}
main .section05 .right input {
  width: 2.89rem;
  height: 1.15rem;
  font-size: 0.3rem;
  color: #fff;
  background-color: #e43a3d;
}
main .section05 .right input[type=button] {
  float: left;
  background-color: #f26b11;
}
main .section05 .right input[type=submit] {
  float: right;
}
