@import "reset.css";
@import "public.css";
body {
  background-color: #f1f1f1;
}
.container {
  width: 7.5rem;
  margin: 0 auto;
  background-color: #f1f1f1;
}
.wrap {
  width: 7.1rem;
  margin: 0 auto;
}
.header {
  height: 0.88rem;
  line-height: 0.88rem;
  background-color: #fff;
}
.header .wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header h1 img {
  width: 1.47rem;
  height: 0.33rem;
}
.header input {
  width: 3rem;
  height: 0.4rem;
  background-color: #eee;
  border-radius: 0.04rem;
  text-align: center;
  font-size: 0.18rem;
}
.header .points span {
  float: left;
  margin-left: 0.1rem;
  width: 0.13rem;
  height: 0.13rem;
  background-color: #000;
  border-radius: 50%;
}
.nav {
  background-color: #fff;
  height: 0.8rem;
  line-height: 0.8rem;
}
.nav .wrap {
  overflow: hidden;
  position: relative;
}
.nav ul {
  width: 20rem;
}
.nav ul li {
  float: left;
  font-size: 0.28rem;
  padding: 0 0.19rem;
}
.nav ul li a {
  color: #202020;
  padding: 0 0.19rem;
}
.nav ul li.first {
  position: relative;
}
.nav ul li.first a {
  color: #e40033;
  border-right: 1px solid #f1f1f1;
}
.nav ul li.first::after {
  position: absolute;
  bottom: 0;
  left: 0.19rem;
  content: '';
  width: calc(100% - 0.38rem);
  height: 0.04rem;
  background-color: #e40033;
}
.nav .arrow {
  position: absolute;
  top: 0;
  right: 0;
  padding-left: 0.2rem;
  background-color: #fff;
}
.nav .arrow img {
  width: 0.35rem;
  height: 0.21rem;
}
.banner {
  position: relative;
  height: 2.91rem;
}
.banner a {
  position: absolute;
  top: 0;
  left: 0;
}
.banner a img {
  width: 7.5rem;
  height: 2.91rem;
}
.icon-nav {
  background-color: #fff;
  height: 1.8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.icon-nav .item {
  font-size: 0.24rem;
  text-align: center;
}
.icon-nav .item p{
  line-height: 0.22rem;
}
.icon-nav .item img {
  width: 0.64rem;
  height: 0.62rem;
  margin-bottom: 0.28rem;
}
.icon-nav .item a {
  color: #595959;
}
.sale {
  height: 3.8rem;
  margin-top: 5.8rem;
  display: flex;
  justify-content: space-between;
}
.sale h3 {
  font-size: 0.3rem;
  color: #ff064f;
  letter-spacing: 0.04rem;
  margin-top: 0.16rem;
  line-height: 0.22rem;
}
.sale p{
  line-height: 0.22rem;
}
.sale .des {
  font-size: 0.22rem;
  color: #999;
  margin: 0.07rem;
}
.sale .left {
  position: relative;
  width: 3.77rem;
  height: 3.8rem;
  padding-left: 0.16rem;
  box-sizing: border-box;
  background-color: #fff;
}
.sale .left h3 img {
  width: 0.33rem;
  height: 0.31rem;
  margin-right: 0.1rem;
  vertical-align: -0.06rem;
}
.sale .left .time {
  font-size: 0.26rem;
}
.sale .left .time span {
  display: inline-block;
  background-color: #333;
  color: #fff;
  line-height: 0.42rem;
  padding: 0 0.09rem;
  border-radius: 0.05rem;
  margin: 0 0.04rem;
}
.sale .left .time i {
  display: inline-block;
  line-height: 0.41rem;
  color: #333;
  padding: 0 0.25rem 0 0.21rem;
  background: url(../images/index_images/bg.jpg) no-repeat;
  background-size: 100% 100%;
}
.sale .left .pic {
  display: block;
  width: 2.36rem;
  height: 2rem;
  margin: 0.18rem auto 0;
}
.sale .left .price {
  position: absolute;
  right: 0.3rem;
  bottom: 0.3rem;
  width: 0.88rem;
  height: 0.88rem;
  border-radius: 50%;
  background-color: #ff064f;
  color: #fff;
  font-size: 0.16rem;
  line-height: 0.88rem;
  text-align: center;
}
.sale .left .price span {
  font-size: 0.24rem;
}
.sale .right {
  width: 3.72rem;
  height: 3.8rem;
  box-sizing: border-box;
}
.sale .right p {
  margin-left: 0;
}
.sale .right .top {
  width: 3.72rem;
  height: 1.88rem;
  display: flex;
  align-content: flex-start;
  background-color: #fff;
}
.sale .right .top .top-left {
  padding-left: 0.16rem;
}
.sale .right .top .top-left h3 span {
  display: inline-block;
  width: 0.32rem;
  height: 0.25rem;
  line-height: 0.25rem;
  background-color: #ff064f;
  text-align: center;
  font-size: 0.2rem;
  border-radius: 0.03rem;
  color: #fff;
  margin-left: 0.08rem;
  vertical-align: 0.04rem;
}
.sale .right .top .top-left img {
  width: 0.93rem;
  height: 0.32rem;
  margin-top: 0.3rem;
}
.sale .right .top-right {
  width: 1.28rem;
  height: 1.78rem;
  margin-top: 0.08rem;
  margin-left: 0.2rem;
}
.sale .right .bottom {
  display: flex;
  width: 3.72rem;
  height: 1.9rem;
  margin-top: 0.02rem;
}
.sale .right .bottom .left {
  width: 1.85rem;
  height: 1.9rem;
  background-color: #fff;
}
.sale .right .bottom .left img {
  width: 0.64rem;
  height: 1.02rem;
  margin-left: 0.4rem;
}
.sale .right .bottom .right {
  width: 1.85rem;
  height: 1.9rem;
  background-color: #fff;
  padding-left: 0.16rem;
  margin-left: 2px;
}
.sale .right .bottom .right img {
  width: 1.04rem;
  height: 0.88rem;
  margin-left: 0.2rem;
  margin-top: 0.1rem;
}
.bar {
  margin-top: 0.3rem;
}
.bar img {
  width: 7.5rem;
  height: 1.87rem;
}
.recommend {
  width: 7.5rem;
  height: 10.5rem;
  background-color: #fff;
  margin-top: 0.3rem;
  margin-bottom: 2rem;
}
.recommend .wrap {
  width: 7.1rem;
  height: 10.5rem;
  margin: 0 auto;
  overflow: hidden;
}
.recommend .rec-nav {
  display: flex;
  justify-content: space-between;
  margin-top: 0.2rem;
  width: 7.1rem;
  height: 0.7rem;
  line-height: 0.7rem;
  font-size: 0.28rem;
  border: 1px solid #eee;
  box-sizing: border-box;
}
.recommend .rec-nav li {
  border-right: 1px solid #eee;
}
.recommend .rec-nav li span {
  color: #333;
  padding: 0 0.3rem;
}
.recommend .rec-nav li.active {
  background-color: #f26b11;
}
.recommend .rec-nav li.active span {
  color: #fff;
}
.recommend .rec-nav li.last {
  border-right: none;
}
.recommend .content {
  width: 7.1rem;
  height: 9.9rem;
  box-sizing: border-box;
}
.recommend .content .goods {
  width: 7rem;
  height: 3rem;
  box-shadow: 0 0 0.05rem #999;
  margin: 0.17rem auto;
}
.recommend .content .goods a img {
  float: left;
  width: 2.16rem;
  height: 2.2rem;
  margin-left: 0.38rem;
  margin-top: 0.4rem;
}
.recommend .content .goods a .txt-right {
  float: left;
  margin-left: 0.4rem;
}
.recommend .content .goods a .txt-right .txt {
  font-size: 0.3rem;
  line-height: 0.6rem;
  color: #333;
  margin-top: 0.3rem;
}
.recommend .content .goods a .txt-right .price {
  font-size: 0.18rem;
  color: #e40033;
}
.recommend .content .goods a .txt-right .price span {
  font-size: 0.24rem;
  line-height: 0.48rem;
}
.recommend .content .goods a .txt-right .sell {
  font-size: 0.2rem;
  line-height: 0.4rem;
  color: #999;
}
.recommend .content .goods a .txt-right .buy {
  width: 1.64rem;
  height: 0.52rem;
  background-color: #f26b11;
  color: #fff;
  font-size: 0.22rem;
  line-height: 0.52rem;
  text-align: center;
  border-radius: 0.05rem;
  margin-top: 0.15rem;
}
